@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    background-color: rgb(49, 48, 48);
    font-family: Garamond, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
    .hochiminh {
    display: block;
    height: 100vh;
}
    table {
        width: 100%;
        padding: 0;
        box-shadow: rgba(0, 0, 0, 0.679) 10px 10px 10px;
    }
    th, td {
        height: 35px;
    }
    th {
        font-size: 13px;
        border: 1px solid grey;
    }
    .buspic {
        border: hidden;
    }
    td {
        border: 1px solid grey;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
    }
    .departure {
        border: 1px solid grey
        width: 100px;
    }
    .duration {
        border: 1px solid grey
        width: 100px;
    }
    .price {
        border: 1px solid grey
        width: 120px;
    }
    .buspicture {
        border: none;
        margin-top: 15px;
        padding-bottom: 0;
    }
    .buscompany {
        background-color: rgb(66, 75, 79);
        padding: 5px;
        width: 35%;
        border: 10px  rgb(0, 0, 0);
        border-top-left-radius: 30px;
        border-spacing: 0;
    }
    .bustable {
        margin-bottom: 20px;
    }
}
.plok {
    background-color: rgba(255, 255, 255, 0);
}
.bek {
    height: 0;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 10px;
    box-shadow: none;
}
.bek1 {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    height: 0;
    box-shadow: none;
}
td {
    font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(255, 255, 255);
    background-color: rgb(63, 63, 63);
    text-align: center;
}
th {
    padding-bottom: 2px;
    padding-top: 2px;
    color: white;
    font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding-top: 3px;
    text-align: center;
    background-color: rgb(36, 43, 43);
}
.company {
    width: 200px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
h1 {
    color: white;
    background-color: none;
    margin: 15px;
    text-align: center;
}
section {
    padding-top: 5%;
    height: 100vh;
    display: block;
    justify-content: center;
    scroll-snap-align: start;
}
.container {
    padding-top: 10%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.buspic, img {
    padding: 0;
    width: 70px;
    background-color: white;
}
.buspic {
    padding: 3px;
    background-color: rgb(167, 167, 167);
    animation: mymove 2s infinite;
}
  @keyframes mymove {
    from {background-color: rgb(150, 153, 156);}
    to {background-color: rgb(107, 115, 122);}
  }
img {
    background-color: rgba(255, 255, 255, 0);
}
.buslogo {
    width: 30px;
}
table, h1 {
    scale: 0; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: 150px;
    animation-range-end: 300px;
}
@keyframes fade-in {
    to {scale: 1; opacity: 1;}
}
.symbol {
    padding-left: 2.5px;
    padding-right: 2.5px;
    width: 25px;
}
.symbol-doublebed {
    padding-left: 2.5px;
    padding-right: 2.5px;
    width: 40px;
}
.symbol-pickup {
    padding-left: 2.5px;
    padding-right: 2.5px; 
}
.symbol-single {
    width: 9.989px;
    margin-left: 8px;
    margin-right: 5px;
}
.symbol-single2 {
    width: 9.989px;
    margin-left: 0;
    margin-right: 5px;
}
.giantlogo {
    width: 100px;
}
.giantbus {
    margin-top: 10px;
    width: 110px;
}
.giantsleepbus {
    margin-top: 10px;
    width: 90px;
}
.airbuslogo {
    width: 40px;
}
.airbus {
    margin-top: 10px;
    width: 85px;
}
.hotelbus{
    margin-top: 10px;
    width: 90px;
}
.vetvan2 {
    width: 85px;
}
.vetvan {
    margin-top: 15px;
    width: 83px;
}
.minibus {
    margin-top: 15px;
    width: 80px;
}
.boat {
    margin-top: 15px;
    width: 100px;
}
